<form id="bt_menu_from" class="form">
    <table align="center">
        <tr>
            <td>父项：</td>
            <td valign="middle"><input id="bt_menu_comboTree"  name='pid' class="easyui-combotree" style="width:130px;" data-options="url:'/sys/menuDataSort',valueField:'mid'" value="${$data['pid']}"> <img src="/Public/Images/clear.png" onclick="$('#bt_menu_comboTree').combotree('clear');" style="cursor: pointer;vertical-align:middle;"></td>
            <td>名称：</td>
            <td><input name="text" type="text" value="${$data['text']}" class="easyui-validatebox" required="required"/></td>
        </tr>
        <tr>
            <td>链接：</td>
            <td colspan="3"><input name="href" type="text" value="${$data['href']}" style="width: 352px;"/></td>
        </tr>
        <tr>
            <td>图标：</td>
            <td><input name="icon_cls" type="text" value="${$data['icon_cls']}"/></td>
            <td>排序：</td>
            <td><input name="seq" type="text" class="easyui-numberbox" value="${if $data['seq']}${$data['seq']}${else}0${/if}" data-options="min:0,precision:0"/></td>
        </tr>
        <tr>
            <td>状态：</td>                           
            <td><input name="status" type="radio" ${if $data['status']==0} checked="checked" ${/if} value="0"/>可用 <input name="status" type="radio" ${if $data['status']==1} checked="checked" ${/if} value="1"/>禁用 </td>
            <td>分类：</td>
            <td><input name="is_sort" type="radio" ${if $data['is_sort']==0} checked="checked" ${/if} value="0"/>否 <input name="is_sort" type="radio" ${if $data['is_sort']==1} checked="checked" ${/if} value="1"/>是 </td>
        </tr>
    </table>
    <input type="hidden" name="menu_id" value="${$data['menu_id']}">
</form>